#pantalla {
    background-color: white;
    margin: 0 auto 0 1em;
    border-radius: 3px;
    padding: 0.8em 2em;
    max-width: 850px;
    width: 100%;
}

#lista {
    margin: 0.6em 1em 2em;
    width: max-content;
}

#lista li {
    width: 100%;
}

form {
    max-width: 820px;
    padding-right: 2em;
}

section {
    width: 100%;
    margin: 0 2em 0 2em;
    display: inline-flex;
}

button:hover {
    opacity: 1;
}

#lista li {
    padding: 1%;
    border: 0px;
    margin: 0;
    min-width: 210px;
}