<form class="formObject" #forma="ngForm" novalidate="">

    <div class="form-group">
        <label for="estado">Estado</label>
        <select class="custom-select" name="formact" [(ngModel)]="selectedObject.act" disabled="{{ selectedObject._id !== undefined }}" required>
            <option value='true' selected>Publicado</option>
            <option value='false'>Oculto</option>
        </select>
        <small id="emailHelp" class="form-text text-muted">Especifique el estado</small>
    </div>

    <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" name="formname" [(ngModel)]="selectedObject.name" disabled="{{!editar}}" required minlength="5">
        <small id="emailHelp" class="form-text text-muted">Es necesario introducir un nombre</small>
    </div>

    <div class="form-group" *ngIf="!selectedObject._id">
        <label for="password">Password</label>
        <input type="text" class="form-control" name="formname" [(ngModel)]="selectedObject.password" disabled="{{!editar}}" required minlength="8">
        <small id="emailHelp" class="form-text text-muted">Es necesario introducir un nombre</small>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="formemail" [(ngModel)]="selectedObject.email" disabled="{{!editar}}" required>
        <small id="emailHelp" class="form-text text-muted">Es necesario introducir un email valido</small>
    </div>

    <div class="form-group">
        <label for="img">Imagen</label>
        <input type="text" class="form-control" name="formimg" [(ngModel)]="selectedObject.img" disabled="{{!editar}}">
    </div>

    <div class="form-group">
        <label for="role">Rol</label>
        <select class="custom-select" name="formrole" [(ngModel)]="selectedObject.role" disabled="{{!editar}}" required>
        <option value="USER_ROLE">Usuario</option>
        <option value="ADMIN_ROLE">Administrador</option>
        </select>
    </div>

    <div class="form-group">
        <label for="google">Validación por Google</label>
        <input type="text" class="form-control" name="formgoogle" [(ngModel)]="selectedObject.google" disabled="{{!editar}}">
    </div>
</form>

<pre class="previo">
info Objt:
    id: {{ selectedObject._id }}
    act: {{ selectedObject.act }}
    name: {{ selectedObject.name }}
    email: {{ selectedObject.email }}
    role: {{ selectedObject.role }}
    google: {{ selectedObject.google }}
</pre>